*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.main-section h2{
    font-size: 2.3rem;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
}

.main-section p{
    color: hsl(229, 8%, 60%);
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0;
}

.main-section h3{
    color: hsl(229, 8%, 60%);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0;
    font-weight: 500;
}

.overlay{
    position: absolute;
    background-color:  hsl(231, 69%, 60%);
    border-radius: 0px 0px 0px 200px;
}

.btn{
    padding: 1rem 2rem;
    color: hsl(227, 21%, 92%);
    background-color: hsl(231, 69%, 60%);
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-weight: 600;
    border: 2px solid transparent;
}

.btn:hover{
    color:hsl(231, 69%, 60%);
    background-color: white;
    border: 2px solid hsl(231, 69%, 60%) ;
}

.hidden{
    display: none !important;
}

/********************************************************Homepage**********************************************/

.home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0rem 8rem 10rem;
}

.leftSection-home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.leftSection-home h1{
    font-size: 3.5rem;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    margin: 0;
}

.leftSection-home p{
    width: 80%;
}

.buttons-home{
    display: flex;
    gap: 1rem;
}

#--whiteBtn{
    background-color:  hsl(220, 13%, 95%);
    color:  hsla(229, 25%, 22%, 0.800);
}

#--whiteBtn:hover{
    border: 2px solid hsla(229, 25%, 22%, 0.800) ;
}

.rightSection-home{
    width: 50rem;
    position: relative;
}

.rightSection-home img{
    width: 90%;
    z-index: 1;
}

.overlay1{
    width: 80%;
    height: 23rem;
    bottom: -2rem;
    right: 0;
    z-index: -1;
}

/***************************************************************Features***********************************************/
.feature-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 0rem 12rem 0rem;
}

#feature-text{
    text-align: center;
    width: 35%;
}

.feature-row{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 3rem ;
}

.feature-row h3{
    cursor: pointer;
}

.feature-row h3:hover{
    color: hsl(0, 94%, 66%);
}

.feature-row h3{
    padding: 0rem 3rem 1.5rem 3rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.215);
}

#--feature-bookmark{
    color:  hsl(229, 31%, 21%);
    border-bottom: 5px solid hsl(0, 94%, 66%);
}

.feature-page{
    display: flex;
    gap: 6rem;
    width: 100%;
    min-height: 35rem;
}

.leftSection-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 50%;
}

.leftSection-feature img{
    position: relative;
    margin-left: 16rem;
    width: 75%;
}

.overlay2{
    width: 80%;
    height: 24rem;
    border-radius: 0px 0px 200px 0px;
    left: 0rem;
    z-index: -1;
    bottom: 0rem;
}

.rightSection-feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.rightSection-feature p{
    width: 70%;
    margin-bottom: 2rem;
}

#--moreinfo-btn{
    width: 8rem;
    padding: 1rem .5rem;
}

/***************************************************download-section********************************/

.download-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 0rem 12rem 0rem;
}

.download-section p{
    width: 40%;
    text-align: center;
}

.download-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.5rem;
    gap: 2rem;
    box-shadow: 0 5px 10px 0 rgba(255, 248, 248, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card h3{
    font-size: 1.5rem;
    color:  hsl(229, 31%, 21%);
}

.card p{
    font-size: 1rem;
    width: 70%;
    text-align: center;
    margin-top: -1.5rem;
}

.card2{
    position: relative;
    top: 3rem;
}

.card3{
    position: relative;
    top: 6rem;
}

/**************************************************Faq-section******************************************************/

.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem 10rem 0rem;
}

.faq-section p{
    text-align: center;
    width: 35%;
}

.faq-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 38%;
}

.faq-container .faqs{
    padding: 1.5rem;
    border-top: 2px solid rgba(0, 0, 0, 0.105);
    border-bottom: 2px solid rgba(0, 0, 0, 0.105);
}

.faq-container h3{
    color:  hsl(229, 31%, 21%);
    font-weight: 400;
    font-size: 1.3rem;
}

.faqs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question-row h3{
    width: 100%;
}

.question-row:hover h3{
    color: hsl(0, 94%, 66%) !important;
}

.inner-row{
    border-top: 0px !important;
}

.faq-section #--moreinfo-btn{
    margin-top: 4rem;
    width: 8%;
}

.answer-row p{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 1.8rem;
}

/**************************************************contact-section***********************************************************/

.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0rem;
    background-color: hsl(231, 64%, 55%);
}

.contact-section h2{
    color: white;
    width: 30%;
    text-align: center;
}

.contact-section p{
    font-size: 1rem;
    line-height: .5rem;
    letter-spacing: .2rem;
    color: white;
}

.input-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-section input{
    width: 27rem;
    padding: 1.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.input-section input::placeholder{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(73, 72, 72, 0.355);
}

.input-section .btn{
    padding: 1.2rem 2rem;
    background-color: hsl(0, 94%, 66%);
    width: 10rem;
    border: 2px solid transparent;
}

.input-section .btn:hover{
    background-color: white;
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
}

.warning-input{
    display: flex;
    padding: .6rem .4rem ;
    flex-direction: column;
    background-color:hsl(0, 94%, 66%);
    color: white;
    font-size: .7rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: -1.2rem;
    margin-top: -.5rem;
    border-radius: 0px 0px 5px 5px;
    width: 95%;
}

.input-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row img{
    position: relative;
    left: -2rem;
}
/*****************************footer-section**************************************/

.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0rem;
    background-color: hsl(229, 31%, 21%);
}

    
.footer-section .nav-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -10rem;
    padding: 0;
}

.footer-section #--list{
    color: rgba(255, 255, 255, 0.77);
}

.footer-section #--login{
    display: none !important;
}


.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social-media img{
    cursor: pointer;
}


@media screen and (max-width:1024px) {
    
    .desktop-section{
        display: none !important;
    }

    .mobile-section{
        display: flex !important;
    }

    .main-section h2{
        font-size: 2.8rem;
    }

    .main-section p{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .home-section{
        flex-direction: column-reverse;
        padding: 4rem 0rem 8rem 0rem;
        gap: 6rem;
    }

    .btn{
        font-size: 2rem;
    }

    .rightSection-home{
        width: 100%;
    }

    .overlay1{
        height: 20rem;
        bottom: 0rem;
    }

    .leftSection-home{
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .leftSection-home h1{
        width: 80%;
        text-align: center;
        font-size: 4rem;
    }

    .leftSection-home p{
        width: 70%;
        text-align: center;
    }

    .rightSection-home img{
        width: 95%;
    }

    .buttons-home{
        gap: 3rem;
    }

    .buttons-home .btn{
        font-size: 1.5rem;
    }

    #feature-text{
        width: 65%;
    }

    .feature-row{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-bottom: 8rem;
    }

    .feature-row h3{
        font-size: 2rem;
        padding: 2rem 10rem 3rem 10rem
    }

    #--feature-bookmark{
        border-top: 2px solid rgba(128, 128, 128, 0.215)
    }

    .feature-page{
        flex-direction: column;
    }

    .leftSection-feature{
        width: 100%;
    }
    
    .leftSection-feature img{
        width: 65%;
        margin-left: -10rem;
    }

    .feature-page{
        min-height: 40rem;
    }

    .overlay2{
        bottom: -4rem;
        width: 65%;
    }

    .rightSection-feature{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .rightSection-feature p{
        text-align: center;
    }
    
    #--moreinfo-btn{
        width: 12rem;
    }

    .download-section p{
        width: 70%;
    }

    .download-row{
        flex-direction: column;
    }

    .card{
        padding: 5rem 1rem;
    }

    .card h3{
        font-size: 2.5rem;
    }

    .card img{
        width: 12rem;
    }

    .download-section p{
        margin-top: -0.5rem;
    }

    .card .btn{
        font-size: 1.7rem;
    }

    .dots-img{
        width: 30rem !important;
    }

    .faq-section h2{
        width: 50%;
        text-align: center;
    }

    .faq-section p{
        width: 70%;
    }

    .faq-container {
        width: 80%;
    }

    .question-row h3{
        font-size: 2rem;
    }

    .faq-section .faqs{
        padding: 2.5rem;
    }

    .answer-row p{
        width: 95%;
    }

    .faq-section #--moreinfo-btn{
        width: 15rem;
    }

    .contact-section h2{
        width: 80%;
    }

    .input-section{
        flex-direction: column;
        gap: 2rem;
    }

    .input-row input{
        padding: 1.4rem;
        width: 35rem;
        font-size: 1.2rem;
    }

    .warning-input{
        font-size: 1rem;
        width: 96.5%;
    }

    .input-section .btn{
        width: 35rem;
        padding: 1rem 2.5rem;
        font-size: 1.5rem;
    }

    .footer-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 4rem 0rem;
    }

    .footer-section .logo img{
        width: 20rem;
    }

    .footer-section .nav-section{
        flex-direction: column;
        gap: 2rem;
        margin-left: 0;
    }


    .footer-section .nav-bar nav ul{
        flex-direction: column;
        font-size: 1.8rem;
    }

    .footer-section #--list{
        gap: 2rem;
    }

    .footer-section .social-media{
        gap: 4rem;
    }

    .footer-section .social-media img{
        width: 3rem;
    }
}

@media screen and (max-width:810px) {

    .input-row input{
        width: 25rem;
    }

    .input-section .btn{
        width: 25rem;
    }
    
    .leftSection-feature img {
        width: 85%;
        margin-left: 0rem;
    }

    .overlay2{
        height: 18rem;
    }

    .leftSection-home p{
        width: 80%;
    }
}

@media screen and (max-width:500px) {

    .mobile-section .logo img {
        width: 10rem !important;
    }

    .mobile-nav{
        padding: 0rem 1.5em !important;
    }

    .mobile-section img {
        width: 1.5rem !important;
        cursor: pointer;
    }

    .white-logo img {
        width: 10rem !important;
    }

    #--exit{
        width: 2rem !important;
    }

    .mobile-section #--list {
        font-size: 1.2rem !important;
        margin-left: -2rem;
    }

    .mobile-section .nav-bar #--login {
        font-size: 1rem !important;
    }

    .mobile-section .nav-bar{
        padding: 2em !important;
    }

    .btn{
        font-size: 1.5rem;
    }

    .main-section h1{
        font-size: 2.2rem;
    }

    .main-section h2{
        font-size: 1.8rem;
    }
    .main-section p{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .leftSection-home h1{
        width: 100%;
    }

    .leftSection-home p{
        width: 95%;
    }

    .buttons-home{
        gap: 1rem;
    }

    .buttons-home .btn{
        font-size: .8rem;
    }

    #feature-text{
        width: 85%;
    }

    .feature-row h3 {
        font-size: 1.2rem;
        padding: 1rem 4rem;
    }

    .overlay2{
        height: 14rem;
    }

    .leftSection-feature {
        max-height: 10rem;
    }

    .rightSection-feature p {
        width: 80%;
    }

    .input-row input{
        width: 20rem;
        padding: 1rem;
    }

    .input-section .btn{
        width: 20rem;
    }

    .footer-section .logo img {
        width: 12rem;
    }

    .footer-section .nav-bar nav ul {
        font-size: 1rem;
    }

    .card img{
        width: 6rem;
    }

    .feature-section {
        padding: 0rem 0rem 4rem 0rem;
    }

    .download-section p{
        width: 80%;
    }

    .card{
        padding: 4rem .5rem;
    }
    .card h3{
        font-size: 1.5rem;
    }

    .card p{
        font-size: 1rem;
        margin-top: -1.7rem;
    }

    .dots-img {
        width: 20rem !important;
    }

    .card .btn{
        font-size: 1.1rem;
    }

    .faq-section h2{
        width: 85%;
    }

    .faq-section p{
        width: 85%;
    }

    .faq-container
    {
        width: 85%;
    }

    .question-row h3{
        font-size: 1rem;
    }

    .faq-section .faqs {
        padding: 1.5rem 0rem;
    }

    .faq-section #--moreinfo-btn {
        width: 10rem;
    }

    .warning-input{
        width: 93.5%;
    }

    .input-section .btn {
        font-size: 1rem;
    }

    .social-media img{
        width: 1rem;
    }
}